* {
  padding: 0;
  margin: 0;
}

a:link {
  color: #0000ff;
  text-decoration: underline;
}

a:visited {
  color: #990099;
  text-decoration: underline;
}

a:hover {
  color: #ff0000;
  text-decoration: underline;
}

body {
  font-size: 0.9em;
  text-align: left;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  padding: 10px;
  margin: 0;
}
#contents { padding: 0 50px 2em; }
p  {
    font-size: 1em;
    margin: 15px 0 5px 0;
}
h1 {
    color: black; 
    font-size: 1.34em;
    margin: 15px 0 10px 0;
}
h2 {
    color: blue; 
    font-size: 1.2em;
    margin: 15px 0 5px 0;
}
table.main{
    border-top:1px solid #AAAAAA;
    border-left:1px solid #AAAAAA;
    border-collapse:collapse;
    border-spacing:0;
    background-color:#ffffff;
    empty-cells:show;
    font-size: 10pt;
    width: 100%;
}
.main th{
    border-right:1px solid #AAAAAA;
    border-bottom:1px solid #AAAAAA;
    color:#FFFFFF;
    background-color:#3333AA;
    background-position:left top;
    padding:0.1em 0.5em;
    text-align:center;
}
.main td{
    border-right:1px solid #AAAAAA;
    border-bottom:1px solid #AAAAAA;
    padding:0.1em 0.5em;
}

.main td .comment{
    width:300px;
}
.fld1{ text-align:center; }
.fld2{ 
    text-align:left; 
    width:150px;
}
.fld3{ 
    text-align:center; 
    white-space: nowrap;
}
.num{ text-align:right; }
.datetime{ 
    font-size:0.9em;
    text-align:right; 
}
